.category {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .category .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1500px;
    height: 4729.99px;
    position: relative;
  }
  
  .category .overlap {
    position: absolute;
    width: 2056px;
    height: 946px;
    top: -11px;
    left: -136px;
  }
  
  .category .overlap-group {
    position: absolute;
    width: 1922px;
    height: 946px;
    top: 0;
    left: 0;
  }
  
  .category .rectangle {
    position: absolute;
    width: 952px;
    height: 792px;
    top: 154px;
    left: 809px;
    background: linear-gradient(180deg, rgb(255, 250.94, 248.28) 0%, rgb(255, 245.09, 238.85) 100%);
  }
  
  .category .rectangle-copy {
    position: absolute;
    width: 648px;
    height: 773px;
    top: 173px;
    left: 209px;
    background: linear-gradient(180deg, rgb(245.05, 248.35, 252.32) 0%, rgb(231.5, 239, 248.41) 100%);
  }
  
  .category .group {
    position: absolute;
    width: 632px;
    height: 502px;
    top: 261px;
    left: 996px;
  }
  
  .category .group-2 {
    position: absolute;
    width: 510px;
    height: 502px;
    top: 0;
    left: 0;
  }
  
  .category .button {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    width: 376px;
    height: 96px;
    top: 406px;
    left: 0;
    background-color: #35736e;
  }
  
  .category .text-wrapper {
    position: absolute;
    top: 42px;
    left: 40px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: normal;
  }
  
  .category .arrow-right {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 40px;
    left: 321px;
  }
  
  .category .typography {
    position: absolute;
    width: 508px;
    height: 247px;
    top: 0;
    left: 0;
  }
  
  .category .overlap-group-2 {
    position: relative;
    height: 247px;
  }
  
  .category .sofas-and-armchairs {
    position: absolute;
    width: 508px;
    top: 47px;
    left: 0;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 400;
    color: #2b2d3f;
    font-size: 96px;
    letter-spacing: -1.66px;
    line-height: 100px;
  }
  
  .category .span {
    font-weight: 600;
    letter-spacing: -1.59px;
  }
  
  .category .text-wrapper-2 {
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    letter-spacing: -1.59px;
  }
  
  .category .text-wrapper-3 {
    position: absolute;
    top: 0;
    left: 4px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffd647;
    font-size: 32px;
    letter-spacing: -0.18px;
    line-height: normal;
  }
  
  .category .relax-get-comfortab {
    position: absolute;
    width: 495px;
    top: 279px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #2b2d3fb2;
    font-size: 16px;
    letter-spacing: -0.47px;
    line-height: 28px;
  }
  
  .category .label {
    position: absolute;
    width: 112px;
    height: 112px;
    top: 24px;
    left: 520px;
    background-color: #ffd647;
    border-radius: 56px;
  }
  
  .category .group-3 {
    position: relative;
    width: 82px;
    height: 29px;
    top: 41px;
    left: 15px;
  }
  
  .category .element {
    position: absolute;
    width: 44px;
    height: 29px;
    top: 0;
    left: 12px;
  }
  
  .category .img {
    position: absolute;
    width: 22px;
    height: 29px;
    top: 0;
    left: 60px;
  }
  
  .category .img-2 {
    position: absolute;
    width: 9px;
    height: 1px;
    top: 13px;
    left: 0;
  }
  
  .category .img-3 {
    position: absolute;
    width: 677px;
    height: 773px;
    top: 173px;
    left: 209px;
  }
  
  .category .navigation {
    position: absolute;
    width: 1922px;
    height: 155px;
    top: 0;
    left: 0;
  }
  
  .category .div-wrapper {
    position: relative;
    width: 1920px;
    height: 155px;
    background-color: #35736e;
  }
  
  .category .text-wrapper-4 {
    position: absolute;
    top: 34px;
    left: 165px;
    font-family: "Post No Bills Colombo ExtraBold-Regular", Helvetica;
    font-weight: 400;
    color: #ffd647;
    font-size: 55px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .category .why-choose-us-img {
    width: 697px;
    height: 792px;
    top: 154px;
    left: 189px;
    position: absolute;
    object-fit: cover;
  }
  
  .category .text-wrapper-5 {
    top: 46px;
    left: 533px;
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .category .text-wrapper-6 {
    position: absolute;
    top: 45px;
    left: 666px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .category .text-wrapper-7 {
    position: absolute;
    top: 46px;
    left: 818px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #ffd647;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .category .text-wrapper-8 {
    top: 46px;
    left: 960px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    position: absolute;
    line-height: normal;
  }
  
  .category .user-icons {
    position: absolute;
    width: 196px;
    height: 20px;
    top: 60px;
    left: 1417px;
  }
  
  .category .shopping-bag {
    position: absolute;
    width: 20px;
    height: 22px;
    top: -1px;
    left: 177px;
  }
  
  .category .search {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    left: 87px;
    border-radius: 9px;
    border: 2px solid;
    border-color: #ffffff;
  }
  
  .category .path {
    position: absolute;
    width: 6px;
    height: 6px;
    top: 11px;
    left: 11px;
  }
  
  .category .user {
    position: absolute;
    width: 16px;
    height: 18px;
    top: 1px;
    left: 0;
  }
  
  .category .path-2 {
    position: absolute;
    width: 18px;
    height: 8px;
    top: 11px;
    left: -1px;
  }
  
  .category .oval {
    position: absolute;
    width: 10px;
    height: 10px;
    top: -1px;
    left: 3px;
    border-radius: 5px;
    border: 2px solid;
    border-color: #ffffff;
  }
  
  .category .pagination {
    position: absolute;
    width: 160px;
    height: 773px;
    top: 166px;
    left: 1896px;
    background-color: #ffffff;
  }
  
  .category .stacked-group {
    position: relative;
    width: 102px;
    height: 12px;
    top: 381px;
    left: 29px;
    transform: rotate(90deg);
  }
  
  .category .oval-2 {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 0;
    left: 30px;
    background-color: #fe7865;
    border-radius: 6px;
  }
  
  .category .oval-copy {
    position: absolute;
    width: 6px;
    height: 6px;
    top: 3px;
    left: 0;
    background-color: #d7d7d7;
    border-radius: 3px;
  }
  
  .category .oval-copy-2 {
    position: absolute;
    width: 6px;
    height: 6px;
    top: 3px;
    left: 66px;
    background-color: #d7d7d7;
    border-radius: 3px;
  }
  
  .category .oval-copy-3 {
    position: absolute;
    width: 6px;
    height: 6px;
    top: 3px;
    left: 96px;
    background-color: #d7d7d7;
    border-radius: 3px;
  }
  
  .category .widget {
    height: 1052px;
    top: 1080px;
    left: 160px;
    position: absolute;
    width: 200px;
  }
  
  .category .colors {
    position: absolute;
    width: 200px;
    height: 149px;
    top: 0;
    left: 0;
  }
  
  .category .widget-title {
    height: 32px;
    top: 0;
    left: 0;
    position: absolute;
    width: 200px;
  }
  
  .category .widget-title-2 {
    position: relative;
    height: 32px;
  }
  
  .category .text-wrapper-9 {
    top: 0;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #8f91a3;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    left: 0;
  }
  
  .category .rectangle-2 {
    position: absolute;
    width: 12px;
    height: 2px;
    top: 9px;
    left: 188px;
    background-color: #8f91a3;
  }
  
  .category .rectangle-3 {
    position: absolute;
    width: 200px;
    height: 1px;
    top: 31px;
    left: 0;
    background-color: #e7e8ec;
  }
  
  .category .color-panel {
    position: absolute;
    width: 200px;
    height: 85px;
    top: 64px;
    left: 0;
  }
  
  .category .oval-3 {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 4px;
    left: 0;
    background-color: #7fa9da;
    border-radius: 8px;
  }
  
  .category .oval-copy-4 {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 69px;
    left: 0;
    background-color: #b0e2ba;
    border-radius: 8px;
  }
  
  .category .oval-copy-5 {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 4px;
    left: 184px;
    background-color: #ffb485;
    border-radius: 8px;
  }
  
  .category .oval-copy-6 {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 69px;
    left: 184px;
    background-color: #fcbdd9;
    border-radius: 8px;
  }
  
  .category .overlap-group-wrapper {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 55px;
  }
  
  .category .overlap-group-3 {
    position: relative;
    width: 26px;
    height: 26px;
    top: -1px;
    left: -1px;
    border-radius: 13px;
  }
  
  .category .oval-copy-7 {
    position: absolute;
    width: 8px;
    height: 8px;
    top: 9px;
    left: 9px;
    background-color: #fe7865;
    border-radius: 4px;
  }
  
  .category .oval-copy-8 {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 0;
    left: 0;
    border-radius: 13px;
    border: 1px solid;
    border-color: #fe7865;
  }
  
  .category .oval-copy-9 {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 4px;
    left: 123px;
    background-color: #9bdfd7;
    border-radius: 8px;
  }
  
  .category .oval-copy-10 {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 69px;
    left: 123px;
    background-color: #ff8e9b;
    border-radius: 8px;
  }
  
  .category .oval-copy-11 {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 69px;
    left: 59px;
    background-color: #beadee;
    border-radius: 8px;
  }
  
  .category .filter {
    width: 200px;
    height: 498px;
    top: 245px;
    position: absolute;
    left: 0;
  }
  
  .category .stacked-group-2 {
    position: absolute;
    width: 129px;
    height: 434px;
    top: 64px;
    left: 0;
    overflow: hidden;
  }
  
  .category .text-wrapper-10 {
    left: 0;
    opacity: 0.7;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #141417;
    font-size: 12px;
    position: absolute;
    top: 0;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .category .furniture-copy {
    position: absolute;
    width: 129px;
    height: 352px;
    top: 41px;
    left: 0;
    overflow: hidden;
  }
  
  .category .text-wrapper-11 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #141517;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .category .synthetic-skin-m {
    position: absolute;
    top: 32px;
    left: 24px;
    opacity: 0.7;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #14141797;
    font-size: 11px;
    letter-spacing: 0;
    line-height: 32px;
  }
  
  .category .text-wrapper-12 {
    position: absolute;
    top: 417px;
    left: 0;
    opacity: 0.7;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #141417;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .category .stacked-group-3 {
    position: absolute;
    width: 17px;
    height: 305px;
    top: 144px;
    left: 184px;
  }
  
  .category .price {
    position: absolute;
    width: 200px;
    height: 101px;
    top: 839px;
    left: 0;
  }
  
  .category .pricing-filter {
    position: absolute;
    width: 200px;
    height: 37px;
    top: 64px;
    left: 0;
    overflow: hidden;
  }
  
  .category .overlap-group-4 {
    position: absolute;
    width: 200px;
    height: 12px;
    top: 0;
    left: 0;
  }
  
  .category .rectangle-4 {
    position: absolute;
    width: 196px;
    height: 2px;
    top: 5px;
    left: 4px;
    background-color: #fe7865;
  }
  
  .category .rectangle-copy-2 {
    position: absolute;
    width: 83px;
    height: 2px;
    top: 5px;
    left: 117px;
    background-color: #e7e8ed;
  }
  
  .category .oval-4 {
    position: absolute;
    width: 8px;
    height: 8px;
    top: 2px;
    left: 0;
    background-color: #fe7865;
    border-radius: 4px;
  }
  
  .category .oval-copy-12 {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 0;
    left: 111px;
    background-color: #fe7865;
    border-radius: 6px;
  }
  
  .category .text-wrapper-13 {
    position: absolute;
    top: 21px;
    left: 159px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #141517;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: normal;
  }
  
  .category .text-wrapper-14 {
    top: 21px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #141517;
    letter-spacing: 1px;
    position: absolute;
    left: 0;
    font-size: 11px;
    line-height: normal;
  }
  
  .category .clear-all-x {
    position: absolute;
    width: 104px;
    height: 16px;
    top: 1036px;
    left: 0;
    overflow: hidden;
  }
  
  .category .text-wrapper-15 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #fe7865;
    font-size: 11px;
    letter-spacing: 1.83px;
    line-height: normal;
  }
  
  .category .x {
    position: absolute;
    width: 13px;
    height: 14px;
    top: 2px;
    left: 91px;
  }
  
  .category .overlap-2 {
    position: absolute;
    width: 1305px;
    height: 1848px;
    top: 1156px;
    left: 455px;
  }
  
  .category .product-list {
    position: absolute;
    width: 1305px;
    height: 1828px;
    top: 20px;
    left: 0;
  }
  
  .category .shop-item {
    height: 263px;
    top: 0;
    left: 1px;
    position: absolute;
    width: 604px;
  }
  
  .category .shop-img {
    position: absolute;
    width: 280px;
    height: 212px;
    top: 2px;
    left: 0;
    background-color: #e8f0f3;
  }
  
  .category .item-information {
    position: absolute;
    width: 252px;
    height: 263px;
    top: 0;
    left: 352px;
  }
  
  .category .item-information-2 {
    position: relative;
    height: 263px;
    overflow: hidden;
  }
  
  .category .des {
    position: absolute;
    width: 252px;
    top: 101px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #2b2d3fb2;
    font-size: 13px;
    letter-spacing: -0.38px;
    line-height: 28px;
  }
  
  .category .text-link {
    top: 247px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #2c2e3f;
    position: absolute;
    left: 0;
    font-size: 11px;
    line-height: normal;
  }
  
  .category .text-wrapper-16 {
    letter-spacing: 0.11px;
  }
  
  .category .text-wrapper-17 {
    letter-spacing: 0;
  }
  
  .category .title {
    position: absolute;
    width: 136px;
    top: 0;
    left: 0;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #141417;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .category .price-2 {
    position: absolute;
    top: 0;
    left: 199px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #141417;
    font-size: 18px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .category .text-wrapper-18 {
    position: absolute;
    top: 60px;
    left: 0;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #1414177f;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .category .shop-item-2 {
    height: 263px;
    top: 391px;
    left: 1px;
    position: absolute;
    width: 604px;
  }
  
  .category .shop-img-2 {
    height: 237px;
    top: 2px;
    background-color: #ffeddf;
    position: absolute;
    width: 280px;
    left: 0;
  }
  
  .category .shop-item-3 {
    height: 315px;
    top: 1121px;
    left: 0;
    position: absolute;
    width: 604px;
  }
  
  .category .shop-img-3 {
    height: 284px;
    top: 0;
    background-color: #e8f3ec;
    position: absolute;
    width: 280px;
    left: 0;
  }
  
  .category .item-information-wrapper {
    position: absolute;
    width: 252px;
    height: 263px;
    top: 52px;
    left: 352px;
  }
  
  .category .shop-item-4 {
    height: 263px;
    top: 782px;
    left: 1px;
    position: absolute;
    width: 604px;
  }
  
  .category .shop-img-4 {
    height: 223px;
    top: 2px;
    background-color: #ffefed;
    position: absolute;
    width: 280px;
    left: 0;
  }
  
  .category .shop-item-5 {
    height: 280px;
    top: 1547px;
    left: 0;
    position: absolute;
    width: 604px;
  }
  
  .category .shop-img-5 {
    height: 264px;
    top: 0;
    background-color: #e8f0f3;
    position: absolute;
    width: 280px;
    left: 0;
  }
  
  .category .item-information-3 {
    position: absolute;
    width: 252px;
    height: 263px;
    top: 17px;
    left: 352px;
  }
  
  .category .shop-item-6 {
    height: 263px;
    top: 0;
    left: 701px;
    position: absolute;
    width: 604px;
  }
  
  .category .shop-img-6 {
    height: 212px;
    top: 2px;
    background-color: #e8f3ec;
    position: absolute;
    width: 280px;
    left: 0;
  }
  
  .category .shop-item-7 {
    height: 263px;
    top: 391px;
    left: 701px;
    position: absolute;
    width: 604px;
  }
  
  .category .shop-img-7 {
    height: 237px;
    top: 2px;
    background-color: #e8f0f3;
    position: absolute;
    width: 280px;
    left: 0;
  }
  
  .category .shop-item-8 {
    height: 315px;
    top: 1121px;
    left: 700px;
    position: absolute;
    width: 604px;
  }
  
  .category .shop-img-8 {
    height: 266px;
    top: 0;
    background-color: #e9f3ed;
    position: absolute;
    width: 280px;
    left: 0;
  }
  
  .category .shop-item-9 {
    height: 263px;
    top: 782px;
    left: 701px;
    position: absolute;
    width: 604px;
  }
  
  .category .shop-img-9 {
    height: 234px;
    top: 2px;
    background-color: #e8f0f3;
    position: absolute;
    width: 280px;
    left: 0;
  }
  
  .category .shop-item-10 {
    height: 264px;
    top: 1564px;
    left: 700px;
    position: absolute;
    width: 604px;
  }
  
  .category .shop-img-10 {
    height: 262px;
    top: 2px;
    background-color: #ffeddf;
    position: absolute;
    width: 280px;
    left: 0;
  }
  
  .category .product {
    position: absolute;
    width: 189px;
    height: 246px;
    top: 0;
    left: 46px;
    object-fit: cover;
  }
  
  .category .product-2 {
    top: 404px;
    left: 752px;
    position: absolute;
    width: 189px;
    height: 246px;
    object-fit: cover;
  }
  
  .category .product-3 {
    top: 792px;
    left: 46px;
    position: absolute;
    width: 189px;
    height: 246px;
    object-fit: cover;
  }
  
  .category .product-4 {
    top: 1148px;
    left: 46px;
    position: absolute;
    width: 189px;
    height: 246px;
    object-fit: cover;
  }
  
  .category .product-5 {
    top: 1593px;
    left: 746px;
    position: absolute;
    width: 189px;
    height: 246px;
    object-fit: cover;
  }
  
  .category .product-6 {
    position: absolute;
    width: 157px;
    height: 221px;
    top: 25px;
    left: 768px;
    object-fit: cover;
  }
  
  .category .product-7 {
    top: 418px;
    left: 62px;
    position: absolute;
    width: 157px;
    height: 221px;
    object-fit: cover;
  }
  
  .category .product-8 {
    top: 817px;
    left: 752px;
    position: absolute;
    width: 157px;
    height: 221px;
    object-fit: cover;
  }
  
  .category .product-9 {
    top: 1190px;
    left: 762px;
    position: absolute;
    width: 157px;
    height: 221px;
    object-fit: cover;
  }
  
  .category .product-10 {
    top: 1567px;
    left: 62px;
    position: absolute;
    width: 157px;
    height: 221px;
    object-fit: cover;
  }
  
  .category .button-wrapper {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    width: 320px;
    height: 62px;
    top: 3130px;
    left: 952px;
  }
  
  .category .sign-up-now-wrapper {
    all: unset;
    box-sizing: border-box;
    position: relative;
    height: 62px;
    background-color: #35736e;
  }
  
  .category .sign-up-now {
    position: absolute;
    top: 23px;
    left: 70px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 2px;
    line-height: normal;
  }
  
  .category .TAB {
    position: absolute;
    width: 384px;
    height: 16px;
    top: 1080px;
    left: 916px;
    overflow: hidden;
  }
  
  .category .text-wrapper-19 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #fe7865;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .category .text-wrapper-20 {
    left: 82px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #2c2e3f;
    font-size: 11px;
    position: absolute;
    top: 0;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .category .text-wrapper-21 {
    position: absolute;
    top: 0;
    left: 172px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #2c2e3f;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .category .text-wrapper-22 {
    position: absolute;
    top: 0;
    left: 276px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #2c2e3f;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .category .FOOTER {
    position: absolute;
    width: 1920px;
    height: 464px;
    top: 4195px;
    left: 0;
  }
  
  .category .FOOTER-2 {
    position: relative;
    height: 464px;
  }
  
  .category .group-4 {
    position: absolute;
    width: 1920px;
    height: 96px;
    top: 368px;
    left: 0;
  }
  
  .category .overlap-group-5 {
    position: relative;
    height: 96px;
  }
  
  .category .group-wrapper {
    position: absolute;
    width: 1920px;
    height: 96px;
    top: 0;
    left: 0;
    background-color: #ffffff;
  }
  
  .category .group-5 {
    position: relative;
    width: 1600px;
    height: 28px;
    top: 32px;
    left: 160px;
  }
  
  .category .element-mass-impressi {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #2b2d3fb2;
    font-size: 13px;
    letter-spacing: -0.38px;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .category .facebook {
    position: absolute;
    width: 11px;
    height: 20px;
    top: -4058px;
    left: 586px;
  }
  
  .category .twitter {
    position: absolute;
    width: 22px;
    height: 18px;
    top: -4057px;
    left: 661px;
  }
  
  .category .instagram {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 4px;
    left: 1580px;
    opacity: 0.5;
  }
  
  .category .rectangle-5 {
    position: absolute;
    width: 22px;
    height: 22px;
    top: -1px;
    left: -1px;
    border-radius: 5px;
    border: 2px solid;
    border-color: #000000;
  }
  
  .category .path-3 {
    position: absolute;
    width: 8px;
    height: 8px;
    top: -4056px;
    left: -827px;
  }
  
  .category .path-4 {
    position: absolute;
    width: 1px;
    height: 1px;
    top: -4058px;
    left: -818px;
  }
  
  .category .rectangle-6 {
    position: absolute;
    width: 1600px;
    height: 1px;
    top: 0;
    left: 160px;
    background-color: #d7d7d7;
  }
  
  .category .about-us-delivery-an {
    position: absolute;
    top: 81px;
    left: 160px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #2b2d3fb2;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 40px;
  }
  
  .category .p {
    position: absolute;
    top: 81px;
    left: 432px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #2b2d3fb2;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 40px;
  }
  
  .category .text-wrapper-23 {
    position: absolute;
    top: 0;
    left: 160px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #2b2d3f;
    font-size: 18px;
    letter-spacing: -0.1px;
    line-height: normal;
  }
  
  .category .group-6 {
    position: absolute;
    width: 113px;
    height: 143px;
    top: 96px;
    left: 704px;
    overflow: hidden;
  }
  
  .category .text-wrapper-24 {
    position: absolute;
    top: 31px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #2b2d3fb2;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 28px;
  }
  
  .category .text-wrapper-25 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #2b2d3f;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .category .group-7 {
    position: absolute;
    width: 166px;
    height: 143px;
    top: 96px;
    left: 902px;
    overflow: hidden;
  }
  
  .category .text-wrapper-26 {
    top: 0;
    left: 704px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #2b2d3f;
    font-size: 18px;
    letter-spacing: -0.1px;
    position: absolute;
    line-height: normal;
  }
  
  .category .sign-up-now-copy {
    top: 0;
    left: 1251px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #2b2d3f;
    font-size: 18px;
    letter-spacing: -0.1px;
    position: absolute;
    line-height: normal;
  }
  
  .category .group-8 {
    position: absolute;
    width: 512px;
    height: 208px;
    top: 96px;
    left: 1248px;
  }
  
  .category .group-9 {
    position: absolute;
    width: 512px;
    height: 40px;
    top: 0;
    left: 0;
  }
  
  .category .rectangle-7 {
    position: absolute;
    width: 512px;
    height: 1px;
    top: 39px;
    left: 0;
    background-color: #e5604d;
  }
  
  .category .text-wrapper-27 {
    width: 47px;
    top: 0;
    left: 0;
    color: #2c2e3f;
    font-size: 14px;
    position: absolute;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .category .group-copy {
    position: absolute;
    width: 512px;
    height: 40px;
    top: 73px;
    left: 0;
  }
  
  .category .text-wrapper-28 {
    position: absolute;
    width: 41px;
    top: 0;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #2c2e3f;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .category .button-2 {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    width: 512px;
    height: 62px;
    top: 146px;
    left: 0;
  }
  
  .category .button-3 {
    all: unset;
    box-sizing: border-box;
    position: relative;
    height: 62px;
    background-color: #fe7865;
  }
  
  .category .sign-up-now-2 {
    top: 23px;
    left: 205px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 2px;
    position: absolute;
    line-height: normal;
  }
  
  .category .overlap-3 {
    position: absolute;
    width: 1920px;
    height: 684px;
    top: 3385px;
    left: -210px;
  }
  
  .category .lookbook {
    position: absolute;
    width: 1920px;
    height: 684px;
    top: 0;
    left: 0;
  }
  
  .category .why-choose-us-img-wrapper {
    position: absolute;
    width: 326px;
    height: 500px;
    top: 58px;
    left: 210px;
    background-image: url(./img/group-22.png);
    background-size: 100% 100%;
  }
  
  .category .why-choose-us-img-2 {
    width: 326px;
    height: 495px;
    top: 5px;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .category .group-10 {
    position: absolute;
    width: 326px;
    height: 500px;
    top: 58px;
    left: 1384px;
  }
  
  .category .overlap-4 {
    position: absolute;
    width: 784px;
    height: 632px;
    top: 0;
    left: 568px;
  }
  
  .category .group-11 {
    position: absolute;
    width: 784px;
    height: 616px;
    top: 0;
    left: 0;
  }
  
  .category .rectangle-8 {
    position: absolute;
    width: 512px;
    height: 163px;
    top: 0;
    left: 272px;
    background-color: #ffffff;
  }
  
  .category .rectangle-9 {
    position: absolute;
    width: 104px;
    height: 104px;
    top: 512px;
    left: 0;
    background-color: #35736e;
  }
  
  .category .text-wrapper-29 {
    position: absolute;
    top: 56px;
    left: 383px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #2c2e3f;
    font-size: 32px;
    letter-spacing: -0.55px;
    line-height: normal;
  }
  
  .category .text-wrapper-30 {
    position: absolute;
    top: 543px;
    left: 39px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .category .mask-group {
    position: absolute;
    width: 784px;
    height: 469px;
    top: 163px;
    left: 0;
  }
  
  .category .stacked-group-4 {
    position: absolute;
    width: 102px;
    height: 12px;
    top: 672px;
    left: 912px;
  }
  
  .category .mask-group-2 {
    position: absolute;
    width: 326px;
    height: 502px;
    top: 56px;
    left: 1384px;
  }
  